body {
    background-color: #2B2B2B;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}

/* Меню */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    padding: 0 40px;
    background: #3B3B3B;
}

.menu p, a, button {
    font-size: 16px;
    color: #fff;
    line-height: 22.4px;
    font-weight: 600;
    text-decoration: none;
}

.icon, a {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 607px;
    height: 60px;
}

.menu button {
    background-color: #A259FF;
    padding: 19px 30px;
    border-radius: 40px;
}

.icon p, h2 {
    font-size: 22px;
    color: #fff;
    line-height: 22.4px;
    font-weight: 600;
    text-shadow: 1px 1px 0 #A259FF;
    margin-left: 10px;
}


/* Первый экран */

.first-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

header {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: start;
}

.header-img {
    background-color: #3B3B3B;
    border-radius: 20px;
    width: 510px;
    height: 510px;
}

.header-text {
    width: 510px;
    height: 544px;
}

.header-text h1 {
    color: #fff;
    font-size: 67px;
    line-height: 73.7px;
    margin-top: 0;
}

.header-text p {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
}

.header-text button {
    background-color: #A259FF;
    padding: 19px 50px;
    border-radius: 20px;   
    margin: 30px 0 60px 0;
}

.header-result {
    display: flex;
    justify-content: space-between;
}

.header-info h2 {
    font-size: 28px;
    line-height: 39.2px;
    margin: 0;
}

.header-info p {
    font-size: 24px;
    line-height: 38px;
    margin: 0;
}

.avatar {
    display: flex;
    align-items: center;
    margin: 0 20px 24px 10px;
    justify-content: start;
}

.avatar img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
}

.header-img h2 {
    margin: 20px 20px 10px 20px;
    line-height: 30px;
}

.header-img p {
    line-height: 22px;
}

.avatar p {
    margin: 0;
}


/* 2 секция */

.collection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 70px 0;

}

.collection h1 {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 0;
}

.collection-text {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 80px;
}

.card .avatar {
    margin: 0;
}

.card .avatar img {
    margin-left: 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.mini-card {
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-top: 15px;
}









/* секция с таймером */

.timer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 640px;
    margin: 160px 0;
}

.timer-box {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,0,0,0) 100%),
        url("https://wallpaperaccess.com/full/7628941.jpg") no-repeat;

        
    background-size: cover;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 60px 115px;
    border-radius: 20px;
}

.timer-text {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.timer-text .avatar {
    background-color: #3B3B3B;
    border-radius: 20px;
    padding: 10px 20px 10px 10px;
    margin: 0;
}

.timer-box h1 {
    font-size: 51px;
    line-height: 56px;
    margin: 20px 0;
}

.timer-box button {
    color: #2B2B2B;
    padding: 19px 55px;   
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}





/* Футер */

.footer {
    display: flex;
    justify-content: center;
    background: #3B3B3B;
}

.footer-box {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    display: flex;
}